<script data-ad-client="ca-pub-5610640013512242" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>
<div class="container-fluid" style="margin-top: 10px;">
<div class="row">
<div class="col-2 categories"> 
<button class="btn">Technology</button><br>
<button class="btn">Education</button>
</div>
<div class="col-7 rounded-top main_post_div">
<div class="col-12 post_div">
<h5>{{name}}</h5><p>3/17/2020</p>
<p>Software developer Milan</p>
<img src="assets/img/istockphoto-1041708400-612x612.jpg"  class="img-thumbnail"> 
<div class="col-12 comments">
<button class="btn"> Like</button>
</div>
<div class="col-12" class="dropdown">
<button class="btn cmt" (click)="comment_div_show()">comment</button>
<div *ngIf="commenthisandshow" class="  col-12 cmt">
    <input type="text" class="form-control comment_box">
<h6>Girish HS</h6>
<p>Very good innovative</p>
</div>
</div>
</div>
<div class="col-12 post_div" style="margin-top: 10px;">
<h5>Girish</h5>
<p>3/17/2020</p>
<p>Mechnical Engineer</p>
<video controls width="400" height="400"  class="img-thumbnail">
    <source src="assets/Video/production ID_4873437.mp4" type="video/mp4">
</video>
</div>
</div>
<div class="col-3">
<div class="row">
<div class="col-12 ads overflow-auto">
    <h5 style="border-bottom: 2px solid;">Ads</h5>
    <p>With AdSense you can place advertisements on your website , earning based on the number of ad exposures ( impressions ) or clicks on the ads. The advertising contents belong to third parties with respect to the owner of the website ( publisher ) who hosts them on their pages.
        The service is connected with Google Ads , and is able to manage advertisers' ads by adapting them to the content of the web page based on relevance.</p>
</div>
</div>
<div class="row">
    <div class="col-12 post_div suggestion text-nowrap bd-highlight" style="margin-top:10px;">
        <h5 style="border-bottom: 2px solid;">Suggestions</h5>
        <a href="#" >Banking Knowledgs is very importand</a>
        <p>Banking fundamentals refer to the concepts and principles relating 
            to the practice of banking. Banking is an industry that deals with credit facilities</p>
    </div>

</div>
</div>
</div>
</div>